body {
  font-size: 16px;
  background-color: #efefef;
}
#shoppingCart_head {
  width: 100%;
  height: 0.54rem;
  background-color: #f9fafd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font-size: 0.16rem;
  border-bottom: 1px solid #e0e0e0;
}
#shoppingCart_head p {
  width: 60%;
  height: 0.54rem;
  line-height: 0.54rem;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#shoppingCart_null {
  width: 100%;
  margin: 1.3rem 0 0 0;
  display: none;
}
#shoppingCart_null figure {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
#shoppingCart_null figure img {
  width: 42%;
  margin: 0 auto;
}
#shoppingCart_null figure p {
  height: 0.3rem;
  line-height: 0.3rem;
  margin: 0.13rem 0 ;
  color: #999999;
}
#shoppingCart_null figure p span {
  display: inline-block;
  height: 0.28rem;
  line-height: 0.28rem;
  width: 50%;
  border: 1px solid #e0e0e0;
}
#shoppingCart_choose {
  width: 100%;
  background-color: #ffffff;
  margin: 0.54rem 0 0 0;
  font-size: 0.16rem;
}
#shoppingCart_choose #shoppingCart_choose_tab {
  width: 100%;
  color: #333333;
  background: url("../img/a58.jpg");
  padding: 2px 0;
  margin: 0 0 0.12rem 0;
}
#shoppingCart_choose #shoppingCart_choose_tab tbody {
  background-color: #ffffff;
}
#shoppingCart_choose #shoppingCart_choose_tab tr {
  width: 100%;
  height: 0.32rem;
  line-height: 0.16rem;
  background-color: #ffffff;
}
#shoppingCart_choose #shoppingCart_choose_tab tr th {
  width: 27%;
  padding: 0.07rem 0.15rem 0.07rem 0.15rem;
}
#shoppingCart_choose #shoppingCart_choose_tab tr td:first-of-type {
  width: 55%;
}
#shoppingCart_choose #shoppingCart_choose_tab tr td:last-of-type {
  width: 18%;
}
#shoppingCart_choose #shoppingCart_choose_tab tr td img {
  display: inline-block;
  vertical-align: middle;
}
#shoppingCart_choose #shoppingCart_choose_tab tr:last-of-type {
  height: 0.48rem;
}
#shoppingCart_choose #shoppingCart_choose_tab tr:last-of-type th {
  vertical-align: top;
}
#shoppingCart_prefecture {
  width: 100%;
  background-color: #ffffff;
  margin: 0 0 0.8rem 0;
}
#shoppingCart_prefecture #shoppingCart_supermarket {
  width: 92%;
  height: 0.42rem;
  line-height: 0.34rem;
  margin: 0 auto;
  font-size: 0.14rem;
  color: #999999;
}
#shoppingCart_prefecture #shoppingCart_supermarket span {
  display: inline-block;
}
#shoppingCart_prefecture #shoppingCart_supermarket span:first-of-type {
  width: 1.5%;
  height: 0.16rem;
  background-color: #ffd600;
  border-radius: 2px;
  vertical-align: middle;
  margin: 0 2% 0 0 ;
}
#shoppingCart_prefecture #shoppingCart_supermarket span:last-of-type {
  float: right;
  height: 0.29rem;
  line-height: 0.29rem;
  width: 26%;
  text-align: center;
  border: 1px solid #ff3800;
  border-radius: 0.15rem;
  color: #e64f1a;
  margin: 0.05rem;
}
#shoppingCart_prefecture > p {
  width: 92%;
  margin: 0 auto;
  font-size: 0.16rem;
}
#shoppingCart_prefecture > p:first-of-type {
  height: 0.26rem;
  line-height: 0.26rem;
  font-size: 0.12rem;
  color: #999999;
}
#shoppingCart_prefecture > p:nth-of-type(2) {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
#shoppingCart_prefecture > p:nth-of-type(2) span {
  position: absolute;
}
#shoppingCart_prefecture > p:nth-of-type(2) span:first-of-type {
  left: 4%;
}
#shoppingCart_prefecture > p:nth-of-type(2) span:nth-of-type(2) {
  left: 25%;
  color: #e64f1a;
}
#shoppingCart_prefecture > p:nth-of-type(2) span:last-of-type {
  left: 80%;
}
#shoppingCart_prefecture > p:nth-of-type(2) span:last-of-type img {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}
#shoppingCart_prefecture > p:nth-of-type(2) #shoppingCart_sel {
  width: 100%;
  display: none;
}
#shoppingCart_prefecture #shoppingCart_comment {
  width: 92%;
  margin: 0 auto ;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.16rem;
}
#shoppingCart_prefecture #shoppingCart_comment span {
  margin: 0 4% 0 0 ;
}
#shoppingCart_prefecture #shoppingCart_comment input {
  display: inline-block;
  width: 70%;
  height: 0.38rem;
  line-height: 0.38rem;
  outline: none;
  border: 1px solid #cecece;
  font-size: 0.16rem;
  border-radius: 6px;
  text-indent: 8px;
}
#shoppingCart_prefecture #shoppingCart_pre_tab {
  width: 100%;
  border-collapse: collapse;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr {
  width: 100%;
  height: 0.96rem;
  font-size: 0.18rem;
  border-top: 1px solid #e0e0e0;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:first-of-type {
  width: 15%;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:first-of-type img {
  width: 40%;
  margin: 0 auto;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:nth-of-type(2) {
  width: 15%;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:nth-of-type(2) img {
  width: 50%;
  margin: 0 auto;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:last-of-type {
  position: relative;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:last-of-type p {
  height: 0.48rem;
  line-height: 0.48rem;
  text-indent: 0.15rem;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:last-of-type p:nth-of-type(2) {
  color: #393939;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:last-of-type p:last-of-type {
  width: 35%;
  text-indent: 0;
  position: absolute;
  top: 0.4rem;
  left: 60%;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:last-of-type p:last-of-type img {
  display: inline-block;
  width: 37%;
  vertical-align: middle;
}
#shoppingCart_prefecture #shoppingCart_pre_tab tr td:last-of-type p:last-of-type span {
  display: inline-block;
  width: 26%;
  text-align: center;
}
#shoppingCart_prefecture #shoppingCart_balance {
  height: 0.6rem;
  line-height: 0.6rem;
  border-top: 1px solid #e0e0e0;
  font-size: 0.16rem;
}
#shoppingCart_prefecture #shoppingCart_balance span:first-of-type {
  display: inline-block;
  width: 30%;
}
#shoppingCart_prefecture #shoppingCart_balance span:first-of-type img {
  width: 19%;
  margin: 0 10% 0 15%;
  display: inline-block;
  vertical-align: middle;
}
#shoppingCart_prefecture #shoppingCart_balance span:nth-of-type(2) {
  color: #e64f1a;
}
#shoppingCart_prefecture #shoppingCart_balance span:last-of-type {
  display: inline-block;
  width: 35%;
  height: 0.6rem;
  float: right;
  background-color: #808080;
  text-align: center;
}
#shoppingCart_footer {
  width: 100%;
  background-color: rgba(247, 247, 247, 0.95);
  font-size: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  color: #888;
}
#shoppingCart_footer figure {
  display: inline-block;
  width: 25%;
  font-size: 0.14rem;
  text-align: center;
  position: relative;
}
#shoppingCart_footer figure img {
  width: 23%;
  margin: 0.1rem auto 0.05rem auto;
}
#shoppingCart_footer figure a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
